<!DOCTYPE HTML>

<html>
	<head>
		<title>Andre Wheeler|Full Stack Developer</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='code.png') }}">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="./static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="index.html">Home</a></h1>
					<nav id="nav">
						<ul>
							<li>
								<a href="#">My work</a>
							</li>
							<li><a href="contact.html" class="button primary">Contact Me</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>Andre Wheeler</h2>
							<p>Aspiring Software engineer</p>
						</header>
						<span class="image"><img src="./static/me.jpg" alt="" /></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="./static/me.jpg" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="col-4 col-12-medium">
									<header>
										<h1>About me</h1>
										<h2>a dedicated full stack Developer</h2>
									</header>
								</div>
								<div class="col-4 col-12-medium">
									<p>Filler words about how great I am</p>
								</div>
								<div class="col-4 col-12-medium">
									<p>More personable stuff family hobbies etc</p>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="./static/me.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Projects</h2>
							<p>Title</p>
						</header>
						<ul class="actions">
							<li><a href="#" class="button">Clickable link image to project</a></li>
							<li><a href="#" class="button">Clickable link image to project2</a></li>
							<li><a href="#" class="button">Clickable link image to project3</a></li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="./static/ocean.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Projects continues</h2>
						<ul class="actions">
							<li><a href="#" class="button">Clickable link image to project</a></li>
							<li><a href="#" class="button">Clickable link image to project2</a></li>
							<li><a href="#" class="button">Clickable link image to project3</a></li>
						</ul>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>Contact me</h2>
						</header>
						<div class="box alt">
							
							</div>
						</div>
						<footer class="major">
							<ul class="actions special">
								<li><a href="#" class="button">Send</a></li>
							</ul>
						</footer>
					</div>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/jquery.scrolly.min.js"></script>
			<script src="./static/assets/js/jquery.dropotron.min.js"></script>
			<script src="./static/assets/js/jquery.scrollex.min.js"></script>
			<script src="./static/assets/js/browser.min.js"></script>
			<script src="./static/assets/js/breakpoints.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>

	</body>
</html>